bcrypt==4.0.1
passlib[bcrypt]
fastapi
uvicorn
python-jose[cryptography]
python-multipart
pydantic[email]
email-validator
requests
fpdf2
psycopg2-binary
slowapi
langchain
langchain-community
langchain-groq
langchain-tavily
langchain-openai
langchain-core
langchain-text-splitters
langchain-chroma
langsmith
langgraph
langgraph-checkpoint-sqlite
chromadb
tavily-python
python-dotenv
duckduckgo-search
arxiv